<p>
  <%= link_to 'Português', '/?locale=pt-BR' %>
</p>
<p>
  <%= link_to 'English', '/?locale=en' %>
</p>

<h1> <%= t('salutation') %></h1>

<p>O idioma que está sendo utilizado é: <strong><%= t('actual_locale') %></strong></p>
</br>
<p><strong>Data: <%= l(Date.today) %></strong></p>

<!--O 'render' é responsável por carregar as Partials que são blocos de código reaproveitáveis, como Cabeçalhos e Rodapés-->

<%= render "menu" %>

<p>Atualmente a aplicação está no ambiente de <strong><%= environment_detect %></strong></p>

<p>Meu nome é <strong><%= @meu_nome %></strong> e tenho <strong><%= @minha_idade %></strong> anos.</p>  