<!--<p id="notice"><%= notice %></p>-->


<h1><%= @mining_types.model_name.human(count: 3) %></h1>

<table border="1px">
  <thead>
    <tr>
      <th width="140px"><%= @mining_types.human_attribute_name(:description) %></th>
      <th width="140px"><%= @mining_types.human_attribute_name(:acronym) %></th>
      <th width="240px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronym %></td>
        <td><%= link_to t('links.show'), mining_type %></td>
        <td><%= link_to t('links.edit'), edit_mining_type_path(mining_type) %></td>
        <td><%= link_to t('links.destroy'), mining_type, method: :delete, data: { confirm: t('delete_alert') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to t('new_mining_type'), new_mining_type_path %>
<br>
<%= link_to t('home_page'), welcome_index_path %>