<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<table border="1px">
  <thead>
    <tr>
      <th width="120px">Description</th>
      <th width="120px">Acronym</th>
      <th width="120px">Image</th>
      <th width="130px">Mining Type</th>
      <th width="220px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.url_image, size: "35x35" %></td>
        <td><%= coin.mining_type.description %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Coin', new_coin_path %>
<br>
<%= link_to 'Home Page', welcome_index_path %>
