<p id="notice"><%= notice %></p>

<h1><%= @coins.human_attribute_name(:coin) %></h1>

<table border="1px">
  <thead>
    <tr>
      <th width="130px"><%= @coins.human_attribute_name(:description) %></th>
      <th width="130px"><%= @coins.human_attribute_name(:acronym) %></th>
      <th width="130px"><%= @coins.human_attribute_name(:url_image) %></th>
      <th width="130px"><%= @coins.human_attribute_name(:mining_type) %></th>
      <th width="220px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.url_image, size: "35x35" %></td>
        <td><%= coin.mining_type.description %></td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.destroy'), coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('new_mining_type'), new_coin_path %>
<br>
<%= link_to t('home_page'), welcome_index_path %>
